## Importing pandas and reading data into a dataframe

In [3]:
import pandas as pd
df = pd.read_csv("postal_codes_of_Canada.csv")

In [4]:
df.head()

  Postal code           Borough                Neighborhood
0         M1A      Not assigned                         NaN
1         M2A      Not assigned                         NaN
2         M3A        North York                   Parkwoods
3         M4A        North York            Victoria Village
4         M5A  Downtown Toronto  Regent Park / Harbourfront

In [5]:
df.shape

(180, 3)

### Dropping rows where Borough is not assigned

In [6]:
df.drop(df.loc[df['Borough']=='Not assigned'].index, inplace=True)

In [7]:
df.head()

  Postal code           Borough                                  Neighborhood
2         M3A        North York                                     Parkwoods
3         M4A        North York                              Victoria Village
4         M5A  Downtown Toronto                    Regent Park / Harbourfront
5         M6A        North York             Lawrence Manor / Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government

### Merged Neighborhood rows and replaced / with ,

In [8]:
df = df.replace(to_replace ='/', value = ',', regex = True)

In [10]:
df.head()

  Postal code           Borough                                  Neighborhood
2         M3A        North York                                     Parkwoods
3         M4A        North York                              Victoria Village
4         M5A  Downtown Toronto                    Regent Park , Harbourfront
5         M6A        North York             Lawrence Manor , Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park , Ontario Provincial Government

In [11]:
df.reset_index(drop=True, inplace=True)

In [12]:
df.head()

  Postal code           Borough                                  Neighborhood
0         M3A        North York                                     Parkwoods
1         M4A        North York                              Victoria Village
2         M5A  Downtown Toronto                    Regent Park , Harbourfront
3         M6A        North York             Lawrence Manor , Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park , Ontario Provincial Government

### Replacing 'Not assigned' Neighborhood values with respective Borough values

In [13]:
i=0
for data in df:
    if(df['Neighborhood'][i] == 'Not assigned'):
       df['Neighborhood'][i] = df['Borough'][i]
       i = i+1

In [14]:
df.head()

  Postal code           Borough                                  Neighborhood
0         M3A        North York                                     Parkwoods
1         M4A        North York                              Victoria Village
2         M5A  Downtown Toronto                    Regent Park , Harbourfront
3         M6A        North York             Lawrence Manor , Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park , Ontario Provincial Government

In [16]:
df.shape

(103, 3)